<div class="region">
    <header>
        <div class="primary_header">
            <h1 class="title">Online Tech Shop <a href="/basket">
                    <img src="C:\Users\finbar\OneDrive\Online-tech-shop\backend\public\images/basket+buy+cart+internet+online+shopping+icon.png"
                        width="30" height="30" alt="" style="color: #FFFFFF; float: right; font-size: smaller;" /></a>
                {{#if email}}
                <a href="/users/profile"
                    style="text-align: right; color: #FFFFFF; float: right; font-size: smaller; padding-right: 30px; position: relative;">
                    {{email}}
                </a>
                {{else}}
                <a href="/users/login"
                    style="text-align: right; color: #FFFFFF; float: right; font-size: smaller; padding-right: 30px; position: relative;">
                    Login/Signup
                </a>
                {{/if}}
        </div>
        <nav class="secondary_header" id="menu">
            <ul>
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/products/laptops">
                    <li>Laptops</li>
                </a>
                <a href="/products/desktops">
                    <li>Desktops</li>
                </a>
                <a href="/products/mobiles">
                    <li>mobiles</li>
                </a>
                <a href="/products/smartwatches">
                    <li>Smartwatches</li>
                </a>
                <a href="/products/accessories">
                    <li>Accessories</li>
                </a>
            </ul>
        </nav>
    </header>
    <div class="container register-form">
        <div class="form">
            <div class="note">
                <p>Please Register here</p>
            </div>
            <div class="form-content">

                <div class="row">

                    <div class="col-md-6">
                        <p>User Account</p>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Phone Number" value="" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>User Address</p>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Password" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Confirm Password" value="" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Address" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="House number" value="" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Postcode" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Country" value="" />
                        </div>
                    </div>
                    <button type="button" class="btnSubmit">Submit</button>
                </div>
            </div>
        </div>
        <div class="row blockDisplay">
            <div class="column_half left_half">
                <h2 class="column_title">LEFT COLUMN</h2>
            </div>
            <div class="column_half right_half">
                <h2 class="column_title">RIGHT COLUMN</h2>
            </div>
        </div>
        <div class="social">
            <p>Footer</p>
            <p class="social_icon">&nbsp;</p>
            <p class="social_icon">&nbsp;</p>
            <p class="social_icon">&nbsp;</p>
            <p class="social_icon">&nbsp;</p>
        </div>
        <footer class="secondary_header footer">
            <div class="copyright"><strong>2020 </strong>-<strong> Online tech shop</strong> </div>
        </footer>
    </div>