<div class="region">
    <header>
        <div class="primary_header">
            <h1 class="title">Online Tech Shop
                <a href="/basket">
                    <img src="C:/Users/finbar/OneDrive/Online-tech-shop/backend/public/images/basket+buy+cart+internet+online+shopping+icon.png"
                        width="30" height="30" alt="" style="color: #FFFFFF; float: right; font-size: smaller;" /></a>
                {{#if email}}
                <a href="/users/profile"
                    style="text-align: right; color: #FFFFFF; float: right; font-size: smaller; padding-right: 30px; position: relative;">
                    {{email}}
                </a>
                {{else}}
                <a href="/users/login"
                    style="text-align: right; color: #FFFFFF; float: right; font-size: smaller; padding-right: 30px; position: relative;">
                    Login/Signup
                </a>
                {{/if}}
            </h1>
        </div>
        <nav class="secondary_header" id="menu">
            <ul>
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/products/laptops">
                    <li>Laptops</li>
                </a>
                <a href="/products/desktops">
                    <li>Desktops</li>
                </a>
                <a href="/products/mobiles">
                    <li>mobiles</li>
                </a>
                <a href="/products/smartwatches">
                    <li>Smartwatches</li>
                </a>
                <a href="/products/accessories">
                    <li>Accessories</li>
                </a>
            </ul>
        </nav>
    </header>
    <!--  -->
<html>
<head>
  <title>Thanks for your order!</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <center><h1>Order Success!</h1></center>
</body>
</html>

