<div class="region">
    <header>
        <!-- nav -->
        <div class="primary_header">
            <h1 class="title">Online Tech Shop <a href="/basket">
                    <img src="C:\Users\finbar\OneDrive\Online-tech-shop\backend\public\images/basket+buy+cart+internet+online+shopping+icon.png"
                        width="30" height="30" alt="" style="color: #FFFFFF; float: right; font-size: smaller;" /></a>
                {{#if email}}
                <a href="/users/profile"
                    style="text-align: right; color: #FFFFFF; float: right; font-size: smaller; padding-right: 30px; position: relative;">
                    {{email}}
                </a>
                {{else}}
                <a href="/users/login"
                    style="text-align: right; color: #FFFFFF; float: right; font-size: smaller; padding-right: 30px; position: relative;">
                    Login/Signup
                </a>
                {{/if}}
            </h1>
        </div>

        <nav class="secondary_header" id="menu">
            <ul>
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/products/laptops">
                    <li>Laptops</li>
                </a>
                <a href="/products/desktops">
                    <li>Desktops</li>
                </a>
                <a href="/products/mobiles">
                    <li>Mobiles</li>
                </a>
                <a href="/products/smartwatches">
                    <li>Smartwatches</li>
                </a>
                <a href="/products/accessories">
                    <li>Accessories</li>
                </a>
            </ul>
        </nav>
    </header>

    <!-- body -->
    <main>

        <!--MDB Tables-->
        <div class="container mt-4">
            <div class="card mb-4">
                <div class="card-body">
                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-12">


                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                    <!--Table-->

                    {{#each this}}



                    <table class="table table-striped">
                        <!--Table head-->
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <!--Table head-->
                        <!--Table body-->
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>gag</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@twitter</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@twitter</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                <td>@twitter</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@twitter</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@twitter</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                        <!--Table body-->
                    </table>
                    <!--Table-->
                    {{/each}}
                </div>
                <h2>Total Price</h2>
                <h2>Email:</h2>
                <h2>Order Number: {{order.orderNumber}}</h2>
            </div>


        </div>
        <!--MDB Tables-->

    </main>

    <!-- footer -->
    <div class="row blockDisplay">
        <div class="column_half left_half">
            <h2 class="column_title">LEFT COLUMN</h2>
        </div>
        <div class="column_half right_half">
            <h2 class="column_title">RIGHT COLUMN</h2>
        </div>
    </div>
    <div class="social">
        <p>Footer</p>
        <p class="social_icon">&nbsp;</p>
        <p class="social_icon">&nbsp;</p>
        <p class="social_icon">&nbsp;</p>
        <p class="social_icon">&nbsp;</p>
    </div>
    <footer class="secondary_header footer">
        <div class="copyright"><strong>2020 </strong>-<strong> Online tech shop</strong> </div>
    </footer>
</div>