<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <link href="/css/basket.css" rel="stylesheet">
    <link href="/css/myAccount.css" rel="stylesheet">
    <link href="/css/productCategory.css" rel="stylesheet">
    <link href="/css/productPage.css" rel="stylesheet">
    <link href="/css/register.css" rel="stylesheet">
    <link href="/css/stripe.css" rel="stylesheet">
    <link href="/css/stripecopy.css" rel="stylesheet">
    {{!-- {{#each css}}
    <link rel="stylesheet" href="/css/{{this}}">
    {{log css}}
    {{/each}}> --}}
</head>

<body>
    {{{ body }}}
    <script src="/js/index.js"></script>
</body>

</html>